In [2]:
import pandas as pd
import pandas_datareader as pdr

In [62]:
def stock_portfolio(tickers, amounts, years):
    
    # get the start date as k years in the past
    start_date = pd.datetime.today() - pd.DateOffset(years=years)

    # create an empty dataframe with the date as the index
    df = pd.DataFrame(columns=['Date'])
    
    # loop through each ticker and amount in the input dictionary
    for ticker, amount in zip(tickers, amounts):
        
        # get the stock data for the ticker
        # note: in this example, we are assuming that we have a function
        # called `get_stock_data` that takes a ticker and returns a
        # dataframe with the stock data
        stock_data = get_stock_data(ticker, years)
        
        # set the date column from the stock data as the index for the dataframe
        df['Date'] = stock_data.index
        df.set_index(df['Date'], inplace=True)
        
        # add the stock data to the dataframe, using the ticker as the column name
        df[ticker] = stock_data['Close']

    # calculate the portfolio value by multiplying the stock prices by the amounts and summing the values
    df['Portfolio Value'] = df[tickers].mul(amounts).sum(axis=1)
    
    # drop additional Date column
    df = df.drop('Date', axis=1)

    return df

def get_stock_data(ticker, years):
    # get the stock data for the given ticker from Yahoo Finance
    data = pdr.get_data_yahoo(ticker)

    # get the date range for the past k years
    start_date = pd.datetime.today() - pd.DateOffset(years=years)

    # return the data for the past k years
    return data.loc[start_date:]

In [65]:
# define the input dictionary
tickers = {
    'AAPL': 100,
    'GOOG': 50,
    'MSFT': 200
}

# get the list of tickers and the list of amounts
tickers_list = list(tickers.keys())
amounts_list = list(tickers.values())

# call the function
df = stock_portfolio(tickers_list, amounts_list, years=2)

# print the resulting dataframe
#df

# reverse df 
df_reversed = df.iloc[::-1]
df_reversed

/var/folders/sn/xxr4rfmj23100534fjn99hv80000gn/T/ipykernel_63132/3571230111.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  start_date = pd.datetime.today() - pd.DateOffset(years=years)
/var/folders/sn/xxr4rfmj23100534fjn99hv80000gn/T/ipykernel_63132/1372357840.py:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  start_date = pd.datetime.today() - pd.DateOffset(years=years)

                  AAPL       GOOG        MSFT  Portfolio Value
Date
2022-12-13  145.470001  95.849998  256.920013     70723.502731
2022-12-12  144.490005  93.559998  252.509995     69628.999329
2022-12-09  142.160004  93.070000  245.419998     67953.499985
2022-12-08  142.649994  93.949997  247.399994     68442.498016
2022-12-07  140.940002  95.150002  244.369995     67725.499344
...                ...        ...         ...              ...
2020-12-18  126.660004  86.550499  218.589996     60711.524582
2020-12-17  128.699997  87.394997  219.419998     61123.749161
2020-12-16  127.809998  88.150002  219.279999     61044.499588
2020-12-15  127.879997  88.388496  214.130005     60033.425522
2020-12-14  121.779999  88.002998  214.199997     59418.149185

[504 rows x 4 columns]