In [1]:
import  pandas  as  pd
import  numpy  as  np

In [6]:
####question  3

# Build BS model for call option
from  scipy.stats  import  norm
N  =  norm.cdf

def  BS_model_CALL(S,K,T,r,sigma):
        d1  =  (np.log(S/K)  +  (r  +  sigma**2/2)*T)  /  (sigma*np.sqrt(T))
        d2  =  d1  -  sigma  *  np.sqrt(T)
        return  S  *  N(d1)  -  K  *  np.exp(-r*T)*  N(d2)

In [10]:
# a.) 

# Current value of position: 1200* 21.50 = 25800
# Sensitivity 1200

In [11]:
# Calc BS model for specific parameters 

S  =  21.50
K  =  24
T  =  1.5
r  =  0.021
sigma  =  0.25
c0  =  BS_model_CALL(S,K,T,r,sigma)
c0

1.9331939286114324

In [12]:
# Calculate BS Delta as Derivative of BS eq with respect to stock price S

def  delta(S,K,T,r,sigma):
    d1  =  (np.log(S/K)  +  (r  +  sigma**2/2)*T)  /  (sigma*np.sqrt(T))
    return  N(d1)
delta  =  delta(S,K,T,r,sigma)
delta

0.4588665086854015

In [13]:
# b.)

1200/delta

2615.1396479944865

In [14]:
# c.)

# positions: 2616
# total market value: 2616 * c0 = 5057.23531
# total value of portfolio:

5057.235317247507

In [ ]:
# d.)

# Calculate win and loss for Call option
c_up  =  BS_model_CALL(S*1.1,K,T,r,sigma)
c_down  =  BS_model_CALL(S*0.9,K,T,r,sigma)
gain_up  =  25800*0.1+(c0-c_up)*2781
gain_down  =  -25800*0.1+(c0-c_down)*2781
gain_up,gain_down

In [22]:
# e.)
# risk of port with options and without option
# Initially with the pure stock portfolio we had a sensitivity of around 1200, with the call option portfolio
# we can have a sensitivity with 1200 options of 1200*delta_option = 1200 * 0.4588 = 550.56 
#(change in position with respect to stock price), so we were able to reduce our sensitivity.

In [20]:
###### question 4
d1  =  {'Apple':  [106.54,  105.11,105.22,104.83,102.99,101.47,99.76,97.67,96.26,97.54],
        'IBM':  [163.60,  160.87,162.08,162.18,161.79,163.23,169.10,182.05,179.84,181.35]}

df1  =  pd.DataFrame(data=d1)
df1['portfolio']  =  150*df1['Apple']+100*df1['IBM']
df1

    Apple     IBM  portfolio
0  106.54  163.60    32341.0
1  105.11  160.87    31853.5
2  105.22  162.08    31991.0
3  104.83  162.18    31942.5
4  102.99  161.79    31627.5
5  101.47  163.23    31543.5
6   99.76  169.10    31874.0
7   97.67  182.05    32855.5
8   96.26  179.84    32423.0
9   97.54  181.35    32766.0

In [21]:
# Calc VaR and Expected shortfall for 2 stock portfolio 

v0 =  103.82*150+164.64*100
df1['portfolio_loss']=  v0 -  df1['portfolio']
df1  =  df1.sort_values(by=['portfolio_loss'],  ascending=False)
df1['sum']  =  df1['portfolio_loss'].cumsum()
df1['count']  =  range(1,11)
df1['ES']  =  df1['sum']/df1['count']
df1
# 90th VaR: 493.5, 80th percentile VaR: 409.5, 70th percentile VaR: 183.5, 60th percentile VaR: 163.0
# 90th ES: 493.5, 80th percentile ES: 451.5, 70th percentile ES: 362.1667, 60th percentile ES: 312.375

    Apple     IBM  portfolio  portfolio_loss     sum  count          es
5  101.47  163.23    31543.5           493.5   493.5      1  493.500000
4  102.99  161.79    31627.5           409.5   903.0      2  451.500000
1  105.11  160.87    31853.5           183.5  1086.5      3  362.166667
6   99.76  169.10    31874.0           163.0  1249.5      4  312.375000
3  104.83  162.18    31942.5            94.5  1344.0      5  268.800000
2  105.22  162.08    31991.0            46.0  1390.0      6  231.666667
0  106.54  163.60    32341.0          -304.0  1086.0      7  155.142857
8   96.26  179.84    32423.0          -386.0   700.0      8   87.500000
9   97.54  181.35    32766.0          -729.0   -29.0      9   -3.222222
7   97.67  182.05    32855.5          -818.5  -847.5     10  -84.750000

In [15]:
##### question 5
v1 = np.exp(0.035/252)*24000
v5  =  np.exp(0.035*5/252)*24000
v252 = np.exp(0.035*252/252)*24000

In [16]:
# Calculate variance for GBM

def variance_gbm(s0,mu,sigma,t):
    var  =(s0**2)*(np.exp(t*sigma**2)-1)*(np.exp(2*mu*t))
    return var

In [17]:
var1  =  variance_gbm(24000,0.035,0.25,1/252)
var5  =  variance_gbm(24000,0.035,0.25,5/252)
var252  =  variance_gbm(24000,0.035,0.25,1)

In [18]:
from  scipy.stats  import  norm

# VaR for p-quantile function 
def  VaR_p(s0,mu,sigma,t,p):
    icdf  =  norm.ppf(1-p)
    value1  =  sigma*(t**0.5)*icdf  +(mu-  sigma**2/2)*t
    value  =  s0-s0*np.exp(value1)
    return  value

In [19]:
s0  =  24000
mu  =  0.035
sigma  =  0.25
p  =  0.95
var_1  =  VaR_p(s0,mu,sigma,1/252,p)
var_5  =  VaR_p(s0,mu,sigma,5/252,p)
var_252  =  VaR_p(s0,mu,sigma,1,p)
var_1,var_5,var_252

(613.3650890723329, 1348.974917913929, 8031.940853764261)